 * {
     box-sizing: border-box;
     }
     div {
      margin: 5px auto;
      box-sizing: border-box;
    }
     #box{
display : block;
width : 1350px;
margin : 70px auto 0 auto;
}
     #content{
background-color : rgba(0, 0, 0, 1);
float : center;
clear : none;
height : 30000px;
width : 1110px;
margin: 5px auto;
padding: 50px;
border-radius: 10px;
color:white;
font-size: 18px
}
     #test {
      width: 1150px;
      height: 25000px;
      border: 0px solid;
      background-color: #141414;
      font-size: 18px;
      text-align: center;
      position: relative;
      color: white;
      max-width: 100%;
     }
     #textborder {
      width: 25000;
      height: 5860px;
      border: 15px solid transparent;
      background-color: #141414;
      font-size: 18px;
      text-align: center;
      position: relative;
      color: white;
      max-width: 80%;
      float: center;
     }
     #margin {
      width: 1150px;
      height: 320px;
      border: 0px solid;
      background-color: transparent;
      text-align: center;
      position: relative;
      max-width:100%;
      color: white;
     }
     .r {
      display: flex;
     }
     * {
      box-sizing: border-box;
     }
     body {
      background-size:100%;
      border: 0px;
     }
     h3 {
      margin-top: 0px;
      margin-bottom: 10px;
      font-size: 4rem;
      background: linear-gradient(to right, #ef5350, #f48fb1, #7e57c2, #2196f3, #26c6da, #43a047, #eeff41, #f9a825, #ff5722);
     -webkit-background-clip: text;
     -webkit-text-fill-color: transparent;
     }
     h6 {
       font-size: 4;
       background: grey;
       -webkit-background-clip: text;
       -webkit-text-fill-color: transparent;
     }
     icon {
background-color : rgba(0, 0, 0, 0.6);
float : left;
clear : none;
height : 220px;
width : 220px;
border: 0px solid white;
position: fixed;
margin: 5px auto;
border-radius: 10px;
}
.home{
background-color : rgba(0,0,0, 1);
float : left;
clear : none;
height : 50px;
width : 220px;
border: 0px solid white;
position: fixed;
border-radius: 10px;
color:white;
font-size:18px;
}
