wrapper {
  margin-right: auto;
  margin-left: auto;
  max-width:1160px;
  padding: 50px;
}

body {
  margin: 0%; height: 100%; width: 100%; background-color: rgb(255, 255, 255);
  }#bgUS
  {
  position: absolute; z-index: 90; width: 240px; height: 170px; border: 0px rgb(0, 0, 0); background-color: rgb(220, 220, 220); left: 64px; top: 85px;
  }#USbox
  {
  width: 56px; height: 56px; position: absolute; z-index: 90; border: 0px rgb(0, 0, 0); left: 40px; top: 60px;
  }#USimg
  {
  position: absolute; z-index: 90; width: 240px; height: 20px; border: 0px rgb(0, 0, 0); left: 64px; top: 50px;
  }#UStxt
  {
  z-index: 90; width: auto; height: auto; border: medium; position: static; overflow-wrap: break-word; display: block; margin: 0px; text-align: center;
}

body
{
margin: 0%; height: 100%; width: 100%; background-color: rgb(255, 255, 255);
}#bgUM
{
position: absolute; z-index: 90; width: 240px; height: 170px; border: 0px rgb(0, 0, 0); background-color: rgb(220, 220, 220); left: 364px; top: 85px;
}#UMbox
{
width: 56px; height: 56px; position: absolute; z-index: 90; border: 0px rgb(0, 0, 0); left: 340px; top: 60px;
}#UMimg
{
position: absolute; z-index: 90; width: 240px; height: 20px; border: 0px rgb(0, 0, 0); left: 364px; top: 50px;
}#UMtxt
{
z-index: 90; width: auto; height: auto; border: medium; position: static; overflow-wrap: break-word; display: block; margin: 0px; text-align: center;
}

body {
  margin: 0%; height: 100%; width: 100%; background-color: rgb(255, 255, 255);
  }#bgAS
  {
  position: absolute; z-index: 90; width: 240px; height: 170px; border: 0px rgb(0, 0, 0); background-color: rgb(220, 220, 220); left: 664px; top: 85px;
  }#ASbox
  {
  width: 56px; height: 56px; position: absolute; z-index: 90; border: 0px rgb(0, 0, 0); left: 640px; top: 60px;
  }#ASimg
  {
  position: absolute; z-index: 90; width: 240px; height: 20px; border: 0px rgb(0, 0, 0); left: 664px; top: 50px;
  }#AStxt
  {
  z-index: 90; width: auto; height: auto; border: medium; position: static; overflow-wrap: break-word; display: block; margin: 0px; text-align: center;
}